div.corpo{
    border-radius: 5px;
    background-color: white;
    width: 800px;
    font-family: Arial;
    margin: auto;
    padding: 20px;
}
div.tabela{
    border-radius: 5px;
    background-color: white;
    width: 1200px;
    font-family: Arial;
    margin: auto;
    padding: 20px;
}
input{
    width: 45px;
    font-size: 15px;
}
input[type=file]{
    width: 55px;
}
input.nome{
    width: 79px;
    margin-right: 30px;
    text-align: left;
}
input.ean{
    width: 100px;
    margin-right: 40px;
}
input.estoque{
    width: 25px;
}
input.imagem{
    padding: 5px;
    height: 35px;
    width: 35px;
}
input.supermini{
    height: 20px;
    width:20px;
    padding: 1px;
}
div.form_add{
    border-radius: 5px;
    background-color: white;
    width: 800px;
    font-family: Arial;
    margin: auto;
    padding: 20px;
}
body{
    background-color: rgb(104, 105, 159);
}
table.resultado{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
table.resultado tr{
    height: 50px;
}
table.resultado td{
    padding: 10px;
    text-align: center;
}
table.resultado tr:nth-child(even){
    background-color: #f2f2f2;
    max-width: 200px;
}
table.resultado td:nth-child(1){
    width: 50px;
    max-width: 200px;
}
table.resultado td:nth-child(3){
    width: 90px;
    max-width: 200px;
}
img.mini{
    padding: 5px;
    height: 80px;
}
p.pequeno {
	font-size: 8pt;
	text-align: right;
}
img.supermini{
    height: 20px;
    padding: 1px;
}